<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Frozen 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <div class="banner">
    <div class="info-banner">
      <ion-button color="danger" size="small">ASSISTIR 1h44m</ion-button>

    </div>
  </div>

  <h1>Frozen II (2019)</h1>
  <div class="batata" class="teste">
    <div slot="end" class="c100 p72 small green">
      <span>72%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
  </div>

  <h3>Sinopse</h3>
  <p>De volta à infância de Elsa e Anna, as duas garotas descobrem uma história do pai,
    quando ainda era príncipe de Arendelle. Ele conta às meninas a história de uma
    visita à floresta dos elementos, onde um acontecimento inesperado teria provocado
    a separação dos habitantes da cidade com os quatro elementos fundamentais: ar,
    fogo, terra e água. Esta revelação ajudará Elsa a compreender a origem de seus poderes.</p>
</ion-content>