<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <ion-card color="dark" routerLink="/flash">
    <ion-card-header>
      <div class="row">
          <img src="https://image.tmdb.org/t/p/w500_and_h282_face/jC1KqsFx8ZyqJyQa2Ohi7xgL7XC.jpg">  
      </div>

    </ion-card-header>

    <ion-item color="dark">
      <h1>Flash <span>(2014)</span></h1>
    </ion-item>

    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-PG</span><span class="duracao">44m</span>
        <p>Drama, Sci-Fi & Fantasy</p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Barry enfrenta diversos assassinos que invadem a premiação onde ele acompanha Iris,
          mas os efeitos colaterais de seus novos superpoderes representam uma ameaça.</p>
      </div>
    </ion-item>

  </ion-card>

  <ion-card color="dark" routerLink="/rick-morty">
    <ion-card-header>
      <div class="row">
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/8kOWDBK6XlPUzckuHDo3wwVRFwt.jpg" alt="">
      </div>

    </ion-card-header>

    <ion-item color="dark">
      <h1>Rick & Morty  <span>(2013)</span></h1>
    </ion-item>

    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-MA</span><span class="duracao">22m</span>
        <p>Animação, Comédia, Sci-Fi & Fantasy, Action & Adventure</p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Rick é um velho mentalmente desequilibrado, mas cientificamente 
          talentoso que se reconectou recentemente com sua família. 
          Ele passa a maior parte do tempo envolvendo o jovem neto Morty 
          em aventuras perigosas e estranhas no espaço e em universos alternativos.
          Compostos à vida familiar já instável de Morty, 
          esses eventos causam muito sofrimento a Morty em casa e na escola.</p>
      </div>
    </ion-item>

  </ion-card>

</ion-content>