<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ad Astra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <div class="banner">
    <div class="info-banner">
      <ion-button color="danger" size="small">ASSISTIR 2h3m</ion-button>

    </div>
  </div>


  <h1>As Astra - Rumo às Estrelas (2019)</h1>
  <div class="batata" class="teste">
    <div slot="end" class="c100 p60 small orange">
      <span>60%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
  </div>


  <h3>Sinopse</h3>
  <p>Roy McBride é um engenheiro espacial, portador de um leve grau de autismo,
    que decide empreender a maior jornada de sua vida: viajar para o espaço,
    cruzar a galáxia e tentar descobrir o que aconteceu com seu pai,
    um astronauta que se perdeu há vinte anos atrás no caminho para Netuno.</p>


</ion-content>