<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Flash</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <div class="banner">
    <div class="info-banner">
      <ion-button color="danger" size="small">ASSISTIR</ion-button>

    </div>
  </div>

  <h1>Flash (2014)</h1>
  <div class="batata" class="teste">
    <div slot="end" class="c100 p73 small green">
      <span>73%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
  </div>

  <h3>Sinopse</h3>
  <p>Barry enfrenta diversos assassinos que invadem a premiação onde ele
    acompanha Iris, mas os efeitos colaterais de seus novos superpoderes
    representam uma ameaça.</p>
</ion-content>