<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Rick & Morty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <div class="banner">
    <div class="info-banner">
      <ion-button color="danger" size="small">ASSISTIR</ion-button>

    </div>
  </div>

  <h1>Rick & Morty (2013)</h1>
  <div class="batata" class="teste">
    <div slot="end" class="c100 p87 small green">
      <span>87%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
  </div>


  <h3>Sinopse</h3>
  <p>Rick é um velho mentalmente desequilibrado, mas cientificamente talentoso
    que se reconectou recentemente com sua família. Ele passa a maior parte
    do tempo envolvendo o jovem neto Morty em aventuras perigosas e estranhas
    no espaço e em universos alternativos. Compostos à vida familiar já
    instável de Morty, esses eventos causam muito sofrimento a Morty em
    casa e na escola.</p>
</ion-content>