<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ben 10</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <div class="banner">
    <div class="info-banner">
      <ion-button color="danger" size="small">ASSISTIR</ion-button>

    </div>
  </div>

  <h1>Ben 10 (2007)</h1>
  <div class="batata" class="teste">
    <div slot="end" class="c100 p85 small green">
      <span>85%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
  </div>


  <h3>Sinopse</h3>
  <p>Aos 10 anos de idade, Benjamin Kirby Tennyson descobre um dispositivo
    alienígena na floresta chamado de Omnitrix, que lhe permite se transformar
    em 10 diferentes espécies alienígenas. Ao longo de suas férias de verão,
    viajando o país num trailer com seu avô Max e com a sua prima Gwen,
    Ben luta contra o crime e alienígenas do mal com seus novos poderes,
    adquirindo a capacidade de se transformar em mais nove novos
    alienígenas ao longo do caminho.</p>
</ion-content>